#carrito{
    
    box-sizing: border-box;
    margin: 0;
    padding: 3rem;
    font-size: 20px; 
    min-height: 100vh;
}
    #visa{
        color:#164B98;
      }
    #debit{
        color:#164B98;
      }
    #paypal{
        color:#164B98;
       
    }