.container-fluid{
    padding: 0;
    margin: 0;
}
main{
    min-height: 100vh;
}
#div_buscador{
    width: 100%;
    position: absolute;
    bottom: 420px;
}
.input-group input, .input-group button,#desplegable1,#desplegable2{
    height: 3.5em;
    font-size: large;
}
.form-control{
    color: black;
}
#carouselExampleCaptions{
    position: relative;
}
/* #mensajecarru {
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
} */
#img_carrousel{
    height: 600px;
}
.Centrar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.col-3{
    height: fit-content;
    width: fit-content;
    margin: 1%;
}
.card img{
    height: 170px;
}
.Ofertas{
    width: 75%;
    margin: 3%;
    text-align: center;
    background-color: ghostwhite;
    padding: 2%;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.carta_ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vermas{
    
    margin: 3%;
    margin-right: 5%;
    text-align: right;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.vermas a{
    
    background-color: #ffd905;
    border-radius: 10px;
    text-decoration: none;
    padding: 1.5%;
    color: black;
}
.vermas :hover {
    opacity: 0.8; /* Cambiar la opacidad al pasar el mouse por encima */
}

#aboutUS{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#TextoAbout{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    margin-bottom: 4%;
}
#imgAbout{
    margin: 3%;

}

#imgAbout img{
    width: 800px;
    height: auto;
    border-radius: 10px;
    
    
}
.img-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

.overlay {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}


.img-container:hover .overlay {
    opacity: 1;
}
 