<div class="container-fluid">
    <main>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <div class="row justify-content-center" id="div_buscador">
                    <div class="col">
                        <div class="input-group" id="buscador">
                            <input type="text" aria-label="Origen" class="form-control" placeholder="Origen">
                            <input type="text" aria-label="Destino" class="form-control" placeholder="Destino">
                            <input type="date" aria-label="Destino" class="form-control" placeholder="Fecha ida">
                            <input type="date" aria-label="Destino" class="form-control" placeholder="Fecha Vuelta">
                            <input type="number" aria-label="Destino" class="form-control" placeholder="Pasajeros">
                            <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
                        </div>
                    </div>
                </div>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/imagenes/PLAYA!.jpeg" class="d-block w-100" alt="..." style="height: 700px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>AHORRA HASTA UN 25%</h5>
                            <p>Descuentos para nuevos clientes.</p>
                            <a href="registro" class="btn btn-primary" type="button" id="button-addon2">Solicita tu descuento registrándote</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/imagenes/PLAYA2.jpeg" class="d-block w-100" alt="..." style="height: 700px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>EN PARADISE TODO ES MÁS SENCILLO</h5>
                            <p>Con la ayuda de nuestros agentes no hay excusa para no perderse estos destinos.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/imagenes/PUENTE.jpeg" class="d-block w-100" alt="..." style="height: 700px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CUANTOS MAS VIAJEN MEJOR!</h5>
                            <p>Con paradise cuantas mas personas sean mas descuentos tendran.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
        <div class="Centrar">
            <div class="Ofertas">
                <h2>OFERTAS MÁS VENDIDAS</h2>
                <div class="carta_ofertas">
                    @for (conte of bDestinos.continentes; track conte) 
                    { @for (paises of conte.destinos | slice : 0 : 2; track paises) {
                        <div class="col-3">
                            <div class="card" style="width: 18rem;">
                                @for (fotos of paises.imagenes_pais; track fotos) {
                                    <img src="{{fotos.img2}}" class="card-img-top" alt="..." style="height: 170px;">
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Vuelos a {{paises.nombre}}</h5>
                                    
                                    <p class="card-text">Ida y vuelta desde</p>
                                    <a href="#" class="btn btn-outline-secondary" ng>{{paises.precio}}$</a>
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
                <div class="vermas">
                    <a href="catalogo">Ver más ofertas</a>
                </div>
            </div>
        </div>
    
        <div class="row" id="aboutUS">
            <div class="col-lg" id="TextoAbout">
                <h2 class="featurette-heading fw-normal lh-1">About Us</h2>
                <p class="lead">En Paradise Travel Agency, nos apasiona crear experiencias de viaje inolvidables. Nuestro equipo de expertos está aquí para hacer realidad tus sueños de explorar destinos increíbles en todo el mundo. Desde playas paradisíacas hasta aventuras en la montaña, estamos aquí para hacer que cada viaje sea extraordinario. Tu aventura comienza aquí, con Paradise Travel Agency.</p>
            </div>
            <div id="foto" class="col-lg d-flex justify-content-center" id="imgAbout">
                <div class="img-container">
                    <img src="../../../assets/imagenes/deseo.png" class="rounded img-fluid" alt="..." style="max-width: 100%;">
                    <div class="overlay">
                        <img src="../../../assets/imagenes/heart.png" class="rounded img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <app-footer></app-footer>
</div>