
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4" id="cartas" >
        <div class="col">
          <div class="card">
            <img src="../../../assets/imagenes/Madrid.jpg" class="card-img-top" alt="foto de madrid">
            <div class="card-body">
              <h5 class="card-title">Madrid, España</h5>
              <p class="card-text">La vibrante capital de España ofrece una fusión de cultura, historia y modernidad. Desde los majestuosos museos hasta las animadas calles llenas de tapas y música, Madrid cautiva a los visitantes con su encanto cosmopolita.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/imagenes/Caracas.jpg" class="card-img-top" alt="foto de caracas">
            <div class="card-body">
              <h5 class="card-title">Caracas, Venezuela</h5>
              <p class="card-text">La capital de Venezuela, ubicada en un valle montañoso, es un crisol de arquitectura colonial, arte vibrante y una rica escena gastronómica. Caracas te invita a explorar su diversidad cultural y a disfrutar de sus impresionantes vistas panorámicas.</p>
            </div>
          </div>
        </div>
        <div class="col" id="Argentina">
          <div class="card">
            <img src="../../../assets/imagenes/Argentina.jpg" class="card-img-top" alt="foto de buenos aires">
            <div class="card-body">
              <h5 class="card-title">Buenos Aires, Argentina</h5>
              <p class="card-text">Conocida como la "París de América del Sur", Buenos Aires es una ciudad que nunca duerme, donde el tango resuena en las calles y la arquitectura europea se mezcla con la pasión latinoamericana. Descubre sus barrios coloridos, su deliciosa comida y su incomparable vida nocturna.</p>
            </div>
          </div>
        </div>
        <div class="col" id="Cuba">
          <div class="card">
            <img src="../../../assets/imagenes/Cuba-Playa.jpg" class="card-img-top" alt="Foto cuba">
            <div class="card-body">
              <h5 class="card-title">La Habana, Cuba</h5>
              <p class="card-text">La icónica capital de Cuba te transporta a una época pasada con sus encantadoras calles empedradas, autos clásicos y arquitectura colonial. Sumérgete en la música salsa, disfruta de los mojitos en los bares locales y déjate seducir por el ambiente nostálgico de La Habana.</p>
            </div>
          </div>
        </div>
      </div>
    
</div>