.container-fluid{
    padding: 0;
}
#cartas{
    padding: 0;
    margin: 0;
}
.col{
    display: flex;
    justify-content: center;
}
.card{
    width: 400px;
}
.card:hover{
    transform: scale(1.05);
}
img:hover{
    filter: blur(1px); 
}
#Argentina,#Cuba{
    margin-top: 60px;
}