<div class="container-fluid">
  <div class="row">
      <div class="col">
          @for (continente of bDestinos.continentes; track continente) {
              @if (continente.nombre=="Europa" ) {
                  <div class="card" style="width: 100%;height: 100%;" id="europa">
                      <div class="card-body">
                        <a routerLink="/europa">
                        <div class="transparente">
                          <h5 class="card-title">{{continente.nombre}}</h5>
                          <p class="card-text">{{continente.descripcion}}</p>
                          <a  class="card-link" id="vermas">Ver mas..</a>
                      </div>
                      </a>  
                      </div>
                    </div>
              }
          }

      </div>
      <div class="col">
          @for (continente of bDestinos.continentes; track continente) {
              @if (continente.nombre=="América" ) {
                  <div class="card" style="width: 100%;height: 100%;" id="america">
                      <div class="card-body">
                        <a routerLink="/america">
                          <div class="transparente">
                            <h5 class="card-title">{{continente.nombre}}</h5>
                            <p class="card-text">{{continente.descripcion}}</p>
                            <a  class="card-link" id="vermas">Ver mas..</a>
                        </div>
                        </a>
                      </div>
                    </div>
              }
          }
      </div>
     
  </div>
  <div class="row">
    <div class="col">
      @for (continente of bDestinos.continentes; track continente) {
          @if (continente.nombre=="África") {
              <div class="card" style="width: 100%;height: 100%;" id="africa">
                  <div class="card-body">
                    <a routerLink="/africa" >
                    <div class="transparente">
                      <h5 class="card-title">{{continente.nombre}}</h5>
                      <p class="card-text">{{continente.descripcion}}</p>
                      <a  class="card-link" id="vermas">Ver mas..</a>
                  </div>
                  </a>   
                  </div>
                </div>
          }
      }
  </div>
      <div class="col">
          @for (continente of bDestinos.continentes; track continente) {
              @if (continente.nombre=="Asia") {
                  <div class="card" style="width: 100%;height: 100%;" id="asia">
                      <div class="card-body">
                        <a routerLink="/asia">
                        <div class="transparente">
                          <h5 class="card-title">{{continente.nombre}}</h5>
                          <p class="card-text">{{continente.descripcion}}</p>
                          <a  class="card-link" id="vermas">Ver mas..</a>
                      </div>
                      </a>   
                      </div>
                    </div>
              }
          }
      </div>
     
  </div>

</div>