app-footer{
    padding: 0;
}

#carrus{
    padding: 10px;
}
#descrip{
    padding: 10px;
}
#ranking{
    padding: 20px;
    margin: 15px;
}
#tarjetas{
    padding: 20px;
    margin: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}


#btnVolver{
    
    background-color: bisque;
    display: flex;
    align-items: center;
    h1{
        margin-left: 20px;
    }
    padding: 20px;
    margin-bottom: 10px;

}