app-footer{
    padding: 0;
}

#carrus{
    padding-top: 30px;
    padding-bottom: 20px;
}

.carousel-inner{
    border-radius: 8px;
}
#descrip{
    padding: 30px;
}
#ranking{
    padding: 20px;
    margin: 15px;
   
    
}


.lista1,.lista2{
    margin: 20px;
}
#tarjetas{
    padding:55px;
     
}
#carta1:hover{
    transform: scale(1.1);

}

#carta2:hover{
    transform: scale(1.1);

}





#btnVolver{
    
    background-color: bisque;
    display: flex;
    align-items: center;
    h1{
        margin-left: 20px;
    }
    padding: 20px;
    margin-bottom: 10px;

}