<body>
    <div class="a">
        <div class="wrapper">
            <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
                <h1>Login</h1>
                <div id="ERROR" class="error-message">
                    @if (error) {
                        ❌Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.❌
                    }
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Nombre de Usuario / E-mail" required
                        [(ngModel)]="credenciales.email" name="email">
                    <i class="bi bi-person"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" required
                        [(ngModel)]="credenciales.contraseya" name="contraseña">
                    <i class="bi bi-lock"></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Recuérdame</label>
                    <a href="#">¿Has olvidado la contraseña?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="cuenta">
                    <strong>
                        <p id="reg">¿No tienes cuenta todavía?</p>
                    </strong><a id="register" href="/registro">Registro</a>
                </div>
            </form>
        </div>
    </div>
</body>
