<div class="container-fluid">
    
    <main>
        <div class="row" id="titulo_catalogo">
            <h1><strong>Descubre nuestros destinos</strong></h1>
        </div>
        <div id="cartas" class="row">
            <app-cards></app-cards>
        </div>
        <div id="videoContainer">
            <video autoplay loop muted>
                <source src="../../../assets/imagenes/fondo/TensorPix_-_fondo.mp4" type="video/mp4">
                Tu navegador no admite la reproducción de video.
            </video>
        </div>
    </main>

    
    <div class="row">
        <app-footer></app-footer>
    </div>
</div>