.container-fluid{
    padding-left: 0;

}


#titulo_catalogo{
    padding: 15px;
    border-bottom: solid 2.5px;
    border-color: black;
    justify-content: center;
    h1{
        border-bottom: solid 2.5px;
        border-color: black;
        width: fit-content;

    }
    
}


main{
    min-height: 100vh;
    padding-right: 0;
   
    padding-bottom: 50px;

}






.card{
    margin: 20px;
    margin-left: 30px;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
}
.card-body {
    position: relative;
    height: 900px;
    overflow: hidden;
    color: whitesmoke;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
   
}


.transparente{
    color:whitesmoke;
    padding: 10px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.transparente:hover{
    transform: scale(1.01);
    
}
button:hover{
    color: yellow;
}






app-footer{
    padding-right: 0;
}