<div class="container">
    <div class="card">
      <div class="card-body">
        <h1>Términos y Condiciones</h1>
        <p>Bienvenido a Paradise Air Travel Agency, tu ventana al mundo de aventuras y experiencias inolvidables. Antes de iniciar tu viaje con nosotros, te invitamos a leer detenidamente nuestros Términos y Condiciones. Estos términos establecen las reglas y regulaciones que rigen nuestra relación contigo, nuestro valioso cliente. Al hacer uso de nuestros servicios, aceptas plenamente estos términos, los cuales se actualizan periódicamente para garantizar la mejor experiencia posible para todos nuestros usuarios.</p>
  
        <h1>Política de Privacidad</h1>
        <p>En Paradise Air Travel Agency, valoramos y respetamos tu privacidad. Nuestra Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas al utilizar nuestros servicios. Nos comprometemos a mantener tus datos seguros y a utilizarlos únicamente para mejorar tu experiencia de viaje y brindarte un servicio personalizado. Tu confianza es fundamental para nosotros, y nos esforzamos por cumplir con los más altos estándares de privacidad y seguridad en todo momento.</p>
  
        <h1>Política de Cookies</h1>
        <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio web. Estas cookies nos ayudan a mejorar tu experiencia de navegación y a proporcionarte contenido relevante y personalizado. Nuestra Política de Cookies explica cómo y por qué utilizamos cookies, así como las opciones disponibles para gestionarlas. Al continuar utilizando nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política.</p>
  
        <h1>Política de Calidad</h1>
        <p>En Paradise Air Travel Agency, nos comprometemos a ofrecerte un servicio de la más alta calidad en cada etapa de tu viaje. Desde la planificación y reserva hasta el regreso a casa, nos esforzamos por superar tus expectativas y brindarte una experiencia inolvidable. Nuestra Política de Calidad detalla nuestros estándares y procedimientos para garantizar la excelencia en todo lo que hacemos. Tu satisfacción es nuestra prioridad, y trabajamos incansablemente para ofrecerte un servicio excepcional en todo momento.</p>
  
        <p>En Paradise Air Travel Agency, estamos aquí para hacer realidad tus sueños de viaje. Si tienes alguna pregunta o inquietud sobre nuestros Términos y Condiciones, Política de Privacidad, Política de Cookies o Política de Calidad, no dudes en ponerte en contacto con nuestro equipo de atención al cliente. Estamos aquí para ayudarte en cada paso del camino y asegurarnos de que tu experiencia con nosotros sea inigualable. ¡Gracias por elegirnos como tu agencia de viajes de confianza!</p>
      </div>
    </div>
  </div>
<app-footer></app-footer>

