<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navAgencia">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/imagenes/Logotrans.jpg" alt="Logo pagina" width="100px" height="100px">
        </a>
        <h1><Strong>Paradise Travel Air Agency</Strong></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" routerLink="home">Inicio</a>
            <a class="nav-link" routerLink="catalogo"> Catálogo</a>
            <a class="nav-link" routerLink="reservas">Reservas</a>
            <a class="nav-link" routerLink="contactanos">Contáctanos</a>
            <a class="nav-link" routerLink="iniciosesion">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>