
#navAgencia{
    background-color: #03182F !important;
    color: white;
}

#navAgencia a{
    color: white;
    margin: 8px;
    border-radius: 8px;
    width:fit-content;
    text-align: center;
    padding: 10px;
}

.navbar-toggler{
    background-color: white;
}
.navbar-nav a:hover{
    background-color: white;
    transform: scale(1.2);
    color: black !important;
}
img:hover{
    filter: drop-shadow(0 0 10px rgba(233, 236, 12, 0.8));
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-item:hover {
    background-color: white;
    transform: scale(1.2);
    color: black !important;
    
  }
  li{
    padding: 10px;
    
  }
  #desplega{
    background-color:#03182F ;
  }
