main{
    min-height: 100vh;
}
.container-fluid{
    padding: 0;
}
#infoBox {
    padding: 20px; 
    border-radius: 10px; 
    transition: box-shadow 0.3s ease; 
     
}
.card-img-top{
    cursor: pointer;
}
 
 

h1{
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}
.row{
    
    margin: 0;
}
#agregar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tarjeta{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
}
 