<div class="container-fluid">
    <main>
        <div class="row">
            @for (content of bDestinos.continentes; track content)
            {
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @for (pais of content.destinos; track pais) {
                    @for (carusel of pais.imagenes_pais; track carusel) {
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="{{carusel.img1}}" class="img-fluid" alt="..." style="width: 100%; height: 750px;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{{carusel.img2}}" class="img-fluid" alt="..." style="width: 100%; height: 750px;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{{carusel.img3}}" class="img-fluid" alt="..." style="width: 100%; height: 750px;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    }
    
                    }
    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                      @for (continen of bDestinos.continentes; track continen) {
                        @for (pais of continen.destinos; track pais) {
                          @if (busquedaValida) {
                            <div class="col-md-5 col-lg-4 order-md-last" style="width: 100%;" id="tablaSeleccion">
                              <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <h1>Tu destino seleccionado:</h1>
                              </h4 >
                              <ul class="list-group mb-3" id="hotelSeleccionado">
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                  <div>
                                    <h4 class="my-0">{{origen}}<i class="bi bi-arrows" style="font-size: 1em;align-items: center;"></i>{{destino}}</h4>
                                    <small class="text-body-secondary">{{fechaIda}}--{{fechaVuelta}}</small>
                                  </div>
                                  <span class="text-body-secondary">{{numPasajeros}} X {{pais.precio|currency}}</span>
                                </li>
                                @for (hotel of hotelesSeleccionados; track hotel) {
                                  <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div >
                                      <h6 class="my-0">{{hotel.nombre}}</h6>
                                      <small class="text-body-secondary">{{hotel.ubicacion}}</small>
                                    </div>
                                    <button type="button" class="btn btn-danger" (click)="eliminarHotel(hotel)" >Eliminar</button>
                                    <span class="text-body-secondary">{{numPasajeros}} X {{hotel.precio_maximo|currency}}</span>
                                  </li>

                                }
                                <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                                  <div class="text-success">
                                    <h6 class="my-0">Código Promocional</h6>
                                    <div class="input-group input-group-sm mb-3">
                                      <input type="text" [(ngModel)]="codigoDescuento">
                                      <button>Aplicar</button>
                                    </div>
                                  </div>
                                  <span class="text-success"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                  <span>Total (USD)</span>
                                    <strong>{{calcularPrecioTotal() | currency }}</strong>
                                </li>
                                <button type="button" class="btn btn-success" routerLink="/reservas" (click)="reservar()">Reservar</button>
                              </ul>
                            </div>
                          }   
                        }
                      }      
                </div>
                <div class="row">
                    <div class="col" id="listaPais" >
                      <h1>Otros destinos que te pueden interesar:</h1>
                      @for (conten of bDestinos2.continentes; track conten) {
                        @for (pais of conten.destinos; track pais) {
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">{{pais.nombre}}, {{pais.pais}}</div>
                                <p>{{pais.descripcion}}</p>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">{{pais.calificacion}}</span>
                            </li>
                          </ul>
                        }
                    }
                    </div> 
                </div>
            </div>
            <div class="col" id="tarjeta">
                <h1>Disfruta de los mejores hoteles....</h1>
                @for (continet of bDestinos.continentes; track continet ) {
                    @for (pais of continet.destinos; track pais) {
                        @for (hotel of pais.hoteles|slice:0:4; track hotel) {
                            <div class="card" style="width: 18rem;">
                                <img src="{{hotel.imagen}}" class="card-img-top" alt="foto de hotel" style="height: 100%;">
                                <div class="card-body">
                                  <h5 class="card-title">{{hotel.nombre}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><strong>Ubicación:</strong> {{hotel.ubicacion}}</li>
                                  <li class="list-group-item"><strong>Servicios:</strong> {{hotel.servicios}}</li>
                                  <li class="list-group-item"><strong>Clasificacion:</strong> {{hotel.calificacion}} ⭐</li>
                                </ul>
                                <div class="card-body" id="agregar">
                                  <a id="boton"  type="button" class="card-link" (click)="agregarHotelYScroll(hotel)">Agregar</a>
                                  <li class="list-group-item">{{hotel.precio_maximo|currency}}</li>
                                </div>
                              </div>
                        }
                    }
                }
            </div>
        </div>
    </main>
</div>
<app-footer></app-footer>