<div class="container-fluid">
    <main>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../../assets/imagenes/images (1).jpeg" class="img-fluid" alt="..."
                        style="width: 100%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/imagenes/images (1).jpeg" class="img-fluid" alt="..."
                        style="width: 100%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imagenes/images (1).jpeg" class="img-fluid" alt="..."
                        style="width: 100%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section id="cajas" class="py-5 text-center container">
            <div class="row">
                <div class="col">
                    <div class="row py-lg-5">
                        <div id="infoBox" class="col-lg-6 col-md-8">
                            <h1 class="fw-light">Nombre del sitio</h1>
                            <p class="lead text-muted">Descripcion del sitio que vas a visitar. Blablablablablablablablablablablablablabla
                                blablablablablablabla.</p>
                            <p>
                                <a href="reservas" class="btn btn-success my-2">Reserva ya</a>
                            </p>
                        </div>
                        <div class="col">
                            <div id="lista" class="col-lg-6 col-md-4" style="margin-left: 10rem;">
                                <div id="infoBox2" class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action">Atracción turística 1</a>
                                    <a href="#" class="list-group-item list-group-item-action">Atracción turística 2</a>
                                    <a href="#" class="list-group-item list-group-item-action">Atracción turística 3</a>
                                    <a href="#" class="list-group-item list-group-item-action">Atracción turística 4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        




    </main>
</div>


<app-footer></app-footer>