app-footer{
    padding: 0;
}

#titulo_argentina{
    padding: 30px;
    text-align: center;
    h1{
        font-size: 40px;
        border-bottom: solid;
        padding-left: 0;
        padding-right: 0;
        
    }
}
#Carrusel_argentina{
    margin-top: 10px;
}
#informacion_argentina{
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.btn-reserva{
   
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    button{
        width: 200px;
        color: black;
        border-color: black;

    }
    button:hover{
        background-color: #ffd905;
        border-color: #ffd905;
    }
}